
/* Variables */


$color_first: rgba(0, 0, 0, 0.527);
$color_second: white;
$color_third: rgb(255, 51, 0);
$color_four: rgba(255, 166, 0, 0.637);
$font_first: Ubuntu;
$font_second: verdana;
$back_header_footer: linear-gradient(to left, rgba(255, 145, 0, 0.767), rgb(255, 60, 0))